
.articles-module {
    padding: rem(50) 0px rem(20) 0px ;
		// .articles-module__container

		&__container {}

		// .articles-module__title

		&__title {
            letter-spacing: 0.5;
            @include adaptive-value(30, 24);
            font-weight: 700;
            line-height: math.div(46, 30);
            &:not(:last-child){
                margin-bottom: rem(30);
            }
        }

		// .articles-module__items

		&__items {
            display: grid;
            gap:rem(30);
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        }

		// .articles-module__item

		&__item {}
}
.item-article {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out 0s;
    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
        }
    }
		// .item-article__image-ibg
    & img {
        max-width: 100%;
    }
		&__image-ibg {
            padding-bottom:rem(20);
            padding-left: rem(20);
            padding-right: rem(20);
        }

		// .item-article__body

		&__body {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            padding: rem(25);
        }


		// .item-article__title

		&__title {
            flex: 1 1 auto;
            &:not(:last-child){
                margin-bottom: rem(14);
            }
        }

		// .item-article__link-title

		&__link-title {
            color: black;
             @include adaptive-value(20, 14);
            font-weight: 600;
            line-height: math.div(34, 20);
        }

		// .item-article__date

		&__date {
            color: rgb(143, 143, 143);
             @include adaptive-value(16, 14);
             line-height: math.div(24, 16);

        }
}
